#cli_dpto_id{
    color: red;
    display: none;
}

#cli_nombre_id{
    color: red;
    display: none;
}

#cli_apellido_id{
    color: red;
    display: none;
}

#cli_razon_id{
    color: red;
    display: none;
}

#cli_dni_id{
    color: red;
    display: none;
}

#cli_dni_rep_id{
    color: red;
    display: none;
}

#cli_telefono_id{
    color: red;
    display: none;
}

#cli_email_id{
    color: red;
    display: none;
}

#cli_calle_id{
    color: red;
    display: none;
}

#cli_altura_id{
    color: red;
    display: none;
}

#cli_piso_id{
    color: red;
    display: none;
}

#cli_pais_id{
    color: red;
    display: none;
}

#cli_prov_id{
    color: red;
    display: none;
}

#cli_loc_id{
    color: red;
    display: none;
}

#cli_iva_id{
    color: red;
    display: none;
}

#cli_fisica_id{
    color: red;
    display: none;
}

#cli_genero_id{
    color: red;
    display: none;
}

#cli_fecha_nac_id{
    color: red;
    display: none;
}

#cli_motivo{
    color:red;
    display:none;
}