#sucursalnombreid{
    display: none;
    color: red;
}

#calleid{
    display: none;
    color: red;
}

#alturaid{
    display: none;
    color:red;
}

#localidadid{
    display: none;
    color:red;
}

#mecanicosid{
    display: none;
    color:red;
}

#telefonoid{
    display: none;
    color:red;
}

#emailid{
    display: none;
    color: red;
}

#paisid{
    display: none;
    color:red
}

#provinciaid{
    display: none;
    color:red
}

#descripcionid{
    display: none;
    color:red;
}