#dniid{
    color: red;
    display: none;
}

#nombreid{
    color: red;
    display: none;
}

#usuarioid{
    color: red;
    display: none;
}

#passwordid{
    color: red;
    display: none;
}

#emailid{
    color: red;
    display: none;
}

#sucursalid{
    color: red;
    display: none;
}
 
#rolesid{
    color: red;
    display: none;
}

.container footer {
    margin-top: 110px;
    background: black;
    color: white;
    height: 60px;
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
