#categoriaid{
    display: none;
    color: red;
}

#descripcionid{
    display: none;
    color: red;
}

#precioid{
    display: none;
    color: red;
}

#modulosid{
    display: none;
    color: red;
}