#prov_dpto_id{
    color: red;
    display: none;
}

#prov_nombre_id{
    color: red;
    display: none;
}

#prov_apellido_id{
    color: red;
    display: none;
}

#prov_razon_id{
    color: red;
    display: none;
}

#prov_cuil_id{
    color: red;
    display: none;
}

#prov_telefono_id{
    color: red;
    display: none;
}

#prov_email_id{
    color: red;
    display: none;
}

#prov_calle_id{
    color: red;
    display: none;
}

#prov_altura_id{
    color: red;
    display: none;
}

#prov_piso_id{
    color: red;
    display: none;
}

#prov_localidad_id{
    color: red;
    display: none;
}

#prov_iva_id{
    color: red;
    display: none;
}

#provinciaid{
    color: red;
    display: none;
}

#paisid{
    color: red;
    display: none;
}

#localidadid{
    color: red;
    display: none;
}

#cli_motivo{
    color:red;
    display:none;
}